<mat-sidenav-container id="app-container">
  <mat-sidenav #sidenav mode="over">
    <nav id="app-sidenav-container">
      <ul>
        <li class="intro-menu">
          <strong>Welcome</strong>
          <div *ngIf="appService.isLoggedIn"><span>Employee name</span></div>
          <div *ngIf="!appService.isLoggedIn"><span>Logon to employee portal</span></div>
        </li>
        <li *ngIf="appService.isLoggedIn" (click)="menuClick('employees')">
          <mat-icon>list</mat-icon>
          <strong class="margin-left-5">Employees</strong>
        </li>
        <li *ngIf="appService.isLoggedIn" (click)="menuClick('logout')">
          <mat-icon>exit_to_app</mat-icon>
          <strong class="margin-left-5">Logout</strong>
        </li>
      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <header>
      <mat-toolbar color="primary">
        <div id="app-toolbar">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Employee Application</span>
          <span aria-hidden="true"></span>
        </div>
      </mat-toolbar>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
  
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>