/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.error-container {
    padding: 20px;
    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &.inline {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

}

/*-----------
Utilities
-----------*/
@mixin margin($value, $position) {
    margin-#{$position}: $value
}

.margin-right-5 {
    @include margin(5px, right);
}
.margin-left-5 {
    @include margin(5px, left);
}
.margin-bottom-10 {
    @include margin(10px, bottom);
}
